{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}


    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 style = "margin-top:100px;">Create Article</h3>
            <hr>
            <form method="POST" class="post-form" enctype="multipart/form-data">
            <form method = "post">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <button type="submit" class = "btn btn-danger">Save</button>
            </form>
        
        </div>
    </div>

{% endblock  %}