{% extends "layout.html" %}
{% block body %}
    <div style ="margin-top:100px;" class ="jumbotron text-center">
    <h3>Welcome to our BLOG</h3>
    <p>In this blog you may influence the people who need advice with your knowledge and experience</p>
    </div>
        <p>
            {% if request.user.is_authenticated %}
                You are logged in, {{request.user.username}}
            
            {% else %}
                You are not logged in yet...
            {% endif %}





{% endblock  %}